sudo: false
language: go

matrix:
  include:
    - env: DB=MYSQL5.7
      sudo: required
      dist: trusty
      go: 1.13.x
      services:
        - docker
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get -u github.com/golang/dep/cmd/dep
        - dep ensure
        - docker pull mysql:5.7
        - docker run -d -p 127.0.0.1:3307:3306 --name mysqld -e MYSQL_USER=msandbox -e MYSQL_PASSWORD=msandbox mysql:5.7 --innodb_log_file_size=256MB 
          --innodb_buffer_pool_size=512MB --max_allowed_packet=16MB
        - sleep 30
        - cp .travis/docker.cnf ~/.my.cnf
      before_script:
          - export TEST_DSN="msandbox:msandbox@tcp(127.0.0.1:3307)/sakila?parseTime=true"

install:
  - mkdir -p ~/bin/ && export PATH="~/bin/:$PATH"
  - curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh| sh -s -- -b ~/bin
  - curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b ~/bin/ v1.25.1

script:
    - ~/bin/golangci-lint run --out-format=line-number |  env REVIEWDOG_GITHUB_API_TOKEN="79d1fb4c2af702df34d54c06ffb1a9152da2c031" ~/bin/reviewdog -f=golangci-lint -level=error -reporter=github-pr-check -name='Required checks'
#  - ~/bin/reviewdog -conf=.reviewdog.yml -reporter=github-pr-check

after_success:
